<template>
  <div>
    <button v-on:click="newGame" class="control btn-new">
      <i class="ion-ios-plus-outline"></i>New game
    </button>
    <button v-on:click="rollDice" class="control btn-roll">
      <i class="ion-ios-loop"></i>Roll dice
    </button>
    <button v-on:click="$emit('handleHoldScore')" class="control btn-hold">
      <i class="ion-ios-download-outline"></i>Hold
    </button>
    <input
      v-bind:disabled="isPlaying"
      v-bind:value="finalScore"
      v-on:input="$emit('handleChangeFinalScore', $event)"
      type="number"
      placeholder="Final score"
      class="final-score"
    />
    <!-- <input
      v-model="valueDemo"
      type="number"
      placeholder="Final score"
      class="final-score"
    /> -->
    <!-- 
    1. ràng buộc dữ liệu ( thuộc tính HTML) -> v-bind
       1 chiều từ data -> input
    2. ràng buộc dữ liệu 2 chiều  -> v-model
       - 1 chiều từ da -> input 
       - 1 chiều  từ input-> data
     -->
  </div>
</template>

<script>
export default {
  name: "controls-comp",

  data() {
    return {
      // valueDemo: 100,
    };
  },
  props: {
    finalScore: [Number, String],
    isPlaying: Boolean,
  },

  methods: {
    handleInput(e) {
      console.log(e.target.value);
      this.valueDemo = e.target.value;
    },

    rollDice() {
      this.$emit("handleRollDice");
    },
    newGame() {
      // kích hoạt sự kiện handleNewGame của app truyền vào
      this.$emit("handleNewGame");
    },
  },
};
</script>

<style scoped>
.control {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}
.control.disable {
  pointer-events: none;
}

.control:hover {
  font-weight: 600;
}
.control:hover i {
  margin-right: 20px;
}

.control:focus {
  outline: none;
}

.control i {
  color: #42b983;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}
.btn-new {
  top: 45px;
}
.btn-roll {
  top: 403px;
}
.btn-hold {
  top: 467px;
}

.final-score {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 520px;
  color: #555;
  font-size: 18px;
  font-family: "Lato";
  text-align: center;
  padding: 10px;
  width: 160px;
  text-transform: uppercase;
}

.final-score:focus {
  outline: none;
}
</style>
