<template>
  <div class="wrapper-popup" v-bind:class="getClassPopup">
    <div class="rule">
      <h3>Rule Game</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, nisi.</p>
      <button class="confirm" v-on:click="confirm">Đã hiểu</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "popup-rule",

  data() {
    return {};
  },
  props: {
    isOpenPopup: Boolean,
  },
  methods: {
    confirm() {
      this.$emit("handleConfirm");
    },
  },
  computed: {
    getClassPopup: function () {
      return {
        "open-popup": this.isOpenPopup,
      };
    },
  },

  mounted() {},
};
</script>

<style scoped>
.wrapper-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.rule {
  width: 350px;
  padding: 20px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s;
}
.open-popup .rule {
  transform: translate(-50%, -50%) scale(1);
}
.wrapper-popup.open-popup {
  opacity: 1;
  visibility: visible;
}
.rule h3 {
  margin-bottom: 10px;
}
.rule .confirm {
  cursor: pointer;
  padding: 8px 15px;
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid #333;
  transition: all 0.3s;
}
.rule .confirm:hover {
  color: #fff;
  background-color: #333;
}
</style>