<template>
  <div id="app">
    <div class="wrapper clearfix">
      <!--  -->
      <players
        v-bind:currentScore="currentScore"
        v-bind:activePlayer="activePlayer"
        v-bind:scoresPlayer="scoresPlayer"
        v-bind:isWinner="isWinner"
      />
      <controls
        v-bind:finalScore="finalScore"
        v-on:handleChangeFinalScore="handleChangeFinalScore"
        v-on:handleHoldScore="handleHoldScore"
        v-on:handleRollDice="handleRollDice"
        v-on:handleNewGame="handleNewGame"
        v-bind:isPlaying="isPlaying"
      />
      <dices v-bind:dices="dices" />

      <popup-rule
        v-bind:isOpenPopup="isOpenPopup"
        v-on:handleConfirm="handleConfirm"
      />
    </div>
  </div>
</template>

<script>
// import { log } from "console";
import Controls from "./components/Controls.vue";
import Dices from "./components/Dices.vue";
import Players from "./components/Players.vue";
import PopupRule from "./components/PopupRule.vue";

export default {
  name: "App",
  components: { Players, Controls, Dices, PopupRule },
  computed: {
    isWinner() {
      let { scoresPlayer, finalScore } = this;

      if (scoresPlayer[0] >= finalScore || scoresPlayer[1] >= finalScore) {
        // Dung cuoc choi
        // this.isPlaying = false;
        return true;
      }
      return false;
    },
  },
  data() {
    return {
      isOpenPopup: false,
      activePlayer: 0, // ai là người chơi hiện tại
      scoresPlayer: [0, 0],
      currentScore: 0,
      isPlaying: false,
      dices: [1, 1],
      finalScore: 10,
    };
  },

  methods: {
    handleChangeFinalScore(e) {
      if (isNaN(e.target.value)) {
        this.finalScore = 0;
      } else {
        this.finalScore = parseInt(e.target.value);
      }
    },
    handleHoldScore() {
      if (this.isPlaying) {
        let { scoresPlayer, activePlayer, currentScore } = this;
        let cloneSoresPlayer = [...scoresPlayer];
        cloneSoresPlayer[activePlayer] += currentScore;
        this.scoresPlayer = cloneSoresPlayer;
        // this.$set(this.scoresPlayer, activePlayer, scoresPlayer + currentScore);
        if (!this.isWinner) {
          this.nextPlayer();
        } else {
          this.isPlaying = false;
        }
      } else {
        alert("vui lòng nhấn vào nút new Game");
      }
    },
    nextPlayer() {
      // activeplayer = 0 ->1 ==== ngược lại
      this.activePlayer = this.activePlayer === 0 ? 1 : 0;
      this.currentScore = 0;
    },
    handleRollDice() {
      if (this.isPlaying) {
        //xoay xúc sắc
        const dice1 = Math.floor(Math.random() * 6) + 1;
        const dice2 = Math.floor(Math.random() * 6) + 1;
        this.dices = [dice1, dice2];
        if (dice1 === 1 || dice2 === 1) {
          alert(
            `Người chơi Player ${
              this.activePlayer + 1
            } đã quay trúng số 1. Rất tiếc`
          );

          this.nextPlayer();
          //Đổi lượt chơi
          //Reset điểm tạm thời về 0
        } else {
          //cộng dồn vào điểm tạm thời cho người đang chơi
          this.currentScore = this.currentScore + dice1 + dice2;
        }
      } else {
        alert("vui lòng nhấn vào nút new Game");
      }
    },
    handleNewGame() {
      // console.log("app.vue");
      // hiển thị popup=> show luật chơi
      this.isOpenPopup = true;
    },
    handleConfirm() {
      this.dices = [1, 1];
      this.isPlaying = true;
      this.isOpenPopup = false;
      this.activePlayer = 0;
      this.scoresPlayer = [0, 0];
      this.currentScore = 0;
    },
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: linear-gradient(
      rgba(62, 20, 20, 0.4),
      rgba(62, 20, 20, 0.4)
    ),
    url(assets/back.jpg);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: #555;
}

.wrapper {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
</style>
